body, html {
    height: 100%;
}

:root{
  --licorice: #1c0f13ff;
  
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))*/ url("images/tshirtDesigns/gryinn.png");

  /* Set a specific height */
  height: 60%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  align-items: center;  
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding:3%;
}

@media (max-width:920px) {

  .hero-image{  background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))*/ url("images/tshirtDesigns/EyeShatMyPants.png");
    height:50%;
  }

  .hero-text{
    display: none;
  }

  .hero-text h1{
    display: none;
  }
}

/* Place text in the middle of the image */
.hero-text {
  z-index: 10;
  text-align: center;
  top: 40%;
  position: relative;
  color: white;
}

li a{
  padding: 3%;
}

/* Style the links inside the navigation bar */


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}