:root
{
    /*colour importing*/
        /* CSS HEX */
        --licorice: #1c0f13ff;
        --white: #ffffffff;
        --gold: #ffd400ff;
        --chefchaouen-blue: #4392f1ff;
        --slate-blue: #735cddff;

        /*Gradient*/
        
    /*Fonts*/
    --mainFont: 'Poppins', sans-serif;
    --titleWeight:800;
    --normalWeight:300;

    /*colors*/
    --mainFontColor:var(--licorice);
    --mainBackgroundColor:var(--white);
    --accent1:var(--gold);
    --accent2:var(--chefchaouen-blue);
    --accent3:var(--slate-blue);


}

html
{
    scroll-behavior: smooth;
}

body
{
    font-family: var(--mainFont);
    font-weight: var(--normalWeight);
    color:var(--mainFontColor);
    padding:0;
    margin:0;

    
}

.accent1
{
    color:var(--accent1);
}

.accent2
{
    color:var(--accent2);
}

h1
{
    font-family: var(--mainFont);
    font-weight: var(--titleWeight);
}


h4
{
    font-family: var(--mainFont);
    font-weight: var(--normalWeight);
}

p
{
    font-family: var(--mainFont);
    font-weight: var(--normalWeight);
}

section
{
    margin: 1% 0px;
}

.top {
    display: flex;
    align-items: center;
    padding: 2%;
    border-bottom: 3px dashed #1c0f13ff;
  
  }
  
.top h1 {
    flex-grow: 1;
}

.shelfContainer
{
    margin: 2% 0px;
}

footer
{
    margin-top: 2%;
    display: block;
    background-color:black;
    color:white;
    float:left;
    min-width: 94%;
    max-width:94%;
    padding:3%;
    font-family: var(--mainFont);
    font-weight: var(--titleWeight);
}

footer .miniNav
{
    display: flexbox;
    width: 50%;
    flex-wrap: wrap;

}

footer a
{
    color:var(--accent1);
    flex-grow: 1;
    margin: 2%;
    
}

footer a.active
{
    color:var(--accent2);
}

footer a:hover
{
    color:var(--accent3);
}

@media (max-width: 920px) {
    #logo {
        font-size: 1em;
    }
  }
  
  @media (max-width: 600px) {
    .product-card {
      flex: 1 46%;
    }
  }
  
  @media (max-width: 480px) {
    .product-filter {
      flex-direction: column;
    }
  
      .sort {
      align-self: flex-start;
    }
  }