:root
{
    /*Fonts*/
    --mainFont: 'Poppins', sans-serif;
    --titleWeight:800;
    --normalWeight:300;

    /*colors*/
    --mainFontColor:black;

}

body
{
    font-family: var(--mainFont);
    font-weight: var(--normalWeight);
    color:var(--mainFontColor);
    padding:0;
    margin:0;
}

h1
{
    font-family: var(--mainFont);
    font-weight: var(--titleWeight);
}

h4
{
    font-family: var(--mainFont);
    font-weight: var(--normalWeight);
}

p
{
    font-family: var(--mainFont);
    font-weight: var(--normalWeight);
}

section
{
    margin: 1% 0px;
}

.shelfContainer
{
    margin: 2% 0px;
}

.item
{
    flex-grow: 1;
    /*All even*/
}

footer{
    display: block;
    background-color:black;
    color:white;
    float:left;
    min-width: 94%;
    max-width:94%;
    padding:3%;
    font-family: var(--mainFont);
    font-weight: var(--titleWeight);
    /*this is just pi because I was bored*/
    }