.tab-container {
    overflow: hidden;
    background-color: var(--mainFont);
    display: flex;
    overflow-x: auto; 
  }
  
  .tab {
    font-family: var(--mainFont);
    font-weight: var(--titleWeight);
    float: left;
    display: block;
    color: var(--accent3);
    text-align: center;
    padding: 14px 16px;
    flex-grow: 1;
    justify-content: space-between;
    text-decoration: none;
    flex-wrap: nowrap;
  }

.tab :active
  {
    color: var(--accent1);
  }
  
  .tab:hover {
    background-color: #ddd;
  }
  
  .collection-content {
    padding: 20px;
  }

  